<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet"
        href="/bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css"/>
</head>
<body ng-app="app.jamon2">
<div ng-controller="jamonCtrl as jamon" class="container">

  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Calendar View</h1>
    </div>

    <div ng-hide="jamon.hide_calendar === true" style="height: 600px; overflow: auto" class="col-sm-7">

      <div class="col-md-12 text-center">
        <!--<div class="btn-group">-->
        <a ng-class="jamon.calendar_config.calendarView === 'month' ? 'btn btn-primary active' : 'btn btn-primary'"
           ng-click="jamon.change_current_view_to('month')">Show calendar</a>

        <a ng-class="jamon.calendar_config.calendarView === 'day' ? 'btn btn-primary active' : 'btn btn-primary'"
           ng-click="jamon.change_current_view_to('day')">Show today events</a>
        <!--</div>-->
      </div>

      <div ng-if="jamon.calendar_config.calendarView === 'day'" class="col-md-12 text-center">
        <br/>

        <div class="btn-group">
          <!--<button class="btn btn-primary" ng-click="jamon.calendar_config.control.prev()">Previous</button>-->
          <a ng-click="jamon.calendar_config.control.prev()">Previous day</a>
          -
          <!--<button class="btn btn-default" ng-click="setCalendarToToday()">Today</button>-->
          <!--<button class="btn btn-primary" ng-click="jamon.calendar_config.control.next()">Next</button>-->
          <a ng-click="jamon.calendar_config.control.next()">Next day</a>
        </div>
      </div>

      <mwl-calendar
        calendar-events="jamon.calendar_config.events"
        calendar-view="jamon.calendar_config.calendarView"
        calendar-current-day="jamon.calendar_config.currentDay"
        calendar-control="jamon.calendar_config.control"
        calendar-event-click="jamon.calendar_config.eventClick(calendarEvent)"
        calendar-edit-event-html="jamon.calendar_config.editEventHtml"
        calendar-delete-event-html="jamon.calendar_config.deleteEventHtml"
        calendar-edit-event-click="jamon.calendar_config.editEventClick(calendarEvent)"
        calendar-delete-event-click="jamon.calendar_config.deleteEventClick(calendarEvent)"
        calendar-auto-open="jamon.calendar_config.autoOpen"
        ></mwl-calendar>
    </div>

    <div class="col-sm-5">
      <div class="col-md-12 text-center">
        <div class="btn-group">
          <label ng-class="jamon.type_of_showed_events === 'important' ? 'btn btn-primary active' : 'btn btn-primary'"
                 ng-click="jamon.type_of_showed_events = 'important'">Pendings</label>
          <label ng-class="jamon.type_of_showed_events === 'success' ? 'btn btn-primary active' : 'btn btn-primary'"
                 ng-click="jamon.type_of_showed_events = 'success'">Appointments</label>
        </div>
      </div>
      <div class="col-md-12">
        <ul
          ng-repeat="(key, service_request) in jamon.calendar_config.events | filter:{ type: jamon.type_of_showed_events } | groupBy: 'request'">
          <!--Group name: {{ key }}-->
          <br/>
          Requester: {{ service_request[0].requester }}
          <br/>
          Service: {{ service_request[0].title }}

          <li ng-repeat="schedule in service_request">
            {{ schedule.starts_at | date: 'mediumDate' }}; {{ schedule.starts_at | date: 'shortTime' }} - {{
            schedule.ends_at | date: 'shortTime' }}
            <!--<button class="btn btn-danger" ng-click="events.splice($index, 1)">Accept</button>-->
          <span ng-if="jamon.type_of_showed_events === 'important'">
            | <a ng-click="events.splice($index, 1)">Accept</a>
          </span>

          <span ng-if="jamon.type_of_showed_events === 'success'">
            | <a ng-click="events.splice($index, 1)">Cancel</a>
          </span>
          </li>

          <!--<button class="btn btn-danger" ng-click="events.splice($index, 1)">Reschedule</button>-->
          <a ng-click="events.splice($index, 1)">Reschedule</a>

        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <!--<pre style="height: 280px; overflow: auto">{{ jamon.calendar_config | json }}</pre>-->
  </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<!--https://github.com/a8m/angular-filter#get-started-->
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.4/angular-filter.min.js"></script>
<script src="/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
<script>
  window.calendar_demo = {
    session_type: 'seller',
    services: []
  };

  window.dirtyfauno = {
    events: [
      {
        requester: 'Karla',
        title: 'My event title', // The title of the event
        type: 'success', // The type of the event (determines its color). Can be important, warning, info, inverse, success or special
        starts_at: new Date(2015, 3, 3, 1), // A javascript date object for when the event starts
        ends_at: new Date(2015, 3, 3, 3), // A javascript date object for when the event ends
        editable: true, // If calendar-edit-event-html is set and this field is explicitly set to false then dont make it editable
        deletable: true, // If calendar-delete-event-html is set and this field is explicitly set to false then dont make it deleteable
        request: 3,
        unique: new Date().getTime()
      },
      {
        requester: 'Denisse',
        title: 'My event title', // The title of the event
        type: 'success', // The type of the event (determines its color). Can be important, warning, info, inverse, success or special
        starts_at: new Date(2015, 3, 5, 5), // A javascript date object for when the event starts
        ends_at: new Date(2015, 3, 5, 6), // A javascript date object for when the event ends
        editable: true, // If calendar-edit-event-html is set and this field is explicitly set to false then dont make it editable
        deletable: true, // If calendar-delete-event-html is set and this field is explicitly set to false then dont make it deleteable
        request: 4,
        unique: new Date().getTime()
      },
      {
        requester: 'Jimena',
        title: 'My event title', // The title of the event
        type: 'success', // The type of the event (determines its color). Can be important, warning, info, inverse, success or special
        starts_at: new Date(2015, 3, 6, 5), // A javascript date object for when the event starts
        ends_at: new Date(2015, 3, 6, 6), // A javascript date object for when the event ends
        editable: true, // If calendar-edit-event-html is set and this field is explicitly set to false then dont make it editable
        deletable: true, // If calendar-delete-event-html is set and this field is explicitly set to false then dont make it deleteable
        request: 5,
        unique: new Date().getTime()
      },
      {
        requester: 'Lulú',
        title: 'My event title',
        type: 'success',
        starts_at: new Date(2015, 3, 6, 8),
        ends_at: new Date(2015, 3, 6, 9),
        editable: true,
        deletable: true,
        request: 6,
        unique: new Date().getTime()
      },
      {
        requester: 'tao',
        title: 'My event title',
        type: 'important',
        starts_at: new Date(2015, 3, 7, 5),
        ends_at: new Date(2015, 3, 7, 6),
        editable: true,
        deletable: true,
        request: 1,
        unique: new Date().getTime()
      },
      {
        requester: 'tao',
        title: 'My event title',
        type: 'important',
        starts_at: new Date(2015, 3, 8, 8),
        ends_at: new Date(2015, 3, 8, 9),
        editable: true,
        deletable: true,
        request: 1,
        unique: new Date().getTime()
      },
      {
        requester: 'sarah',
        title: 'My cuddle event', // The title of the event
        type: 'important', // The type of the event (determines its color). Can be important, warning, info, inverse, success or special
        starts_at: new Date(2015, 3, 9, 5), // A javascript date object for when the event starts
        ends_at: new Date(2015, 3, 9, 6), // A javascript date object for when the event ends
        editable: true, // If calendar-edit-event-html is set and this field is explicitly set to false then dont make it editable
        deletable: true, // If calendar-delete-event-html is set and this field is explicitly set to false then dont make it deleteable
        request: 2,
        unique: new Date().getTime()
      },
      {
        requester: 'sarah',
        title: 'My cuddle event',
        type: 'important',
        starts_at: new Date(2015, 3, 9, 8),
        ends_at: new Date(2015, 3, 9, 9),
        editable: true,
        deletable: true,
        request: 2,
        unique: new Date().getTime()
      }

    ]
  };
</script>
<script src="/src/js/calendar.js"></script>
</body>
</html>
